body {
    background-image: url("Images/awhyeah.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-size:100% auto;
    background-repeat: repeat-y;
}

.container-blok {
    /*width: 780px;*/
    background: #FFF;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; 
    border: 10px solid MidnightBlue;
    border-left-color: #f4f442;
    border-right-color: #f4f442;
}

.imgtextblok-left {
  text-align: left;
}
.imgtextblok-right {
  text-align: right;
}

.form {
    display: inline-block;
    text-align: center;
}
.table 
{
    table-layout:fixed; /*Dit zodat de table binnen de container blijft*/
    width:100%;
    word-break: break-all; /*Dit zodat woorden gesplitst kunnen worden in de tabel*/
}
.spacer { 
    margin:0; 
    padding:0; 
    height:50px; 
}